table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

tr {
  color: #44b900;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-weight: 600;
  color: #fff;
}

button {
  background-color: #b90000;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
.th {
  background: none !important;
}
