#memory1 img:hover {
  content: url("https://img.creator-prod.zmags.com/assets/images/63c191e3f6b59320adf4274d.png");
}
#memory2 img:hover {
  content: url("https://img.creator-prod.zmags.com/assets/images/63c192652a22912ce2ab81ed.png");
}
#memory3 img:hover {
  content: url("https://img.creator-prod.zmags.com/assets/images/63c192652a22912ce2ab81ec.png");
}
#memory4 img:hover {
  content: url("https://img.creator-prod.zmags.com/assets/images/63c1919b2a22912ce2ab80fa.png");
}
